{{>header}}
{{> navbar}}
  


    <div class="row">
        <div class="col-8">
            <h1>Jorgre es puto</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis reprehenderit error eveniet deserunt possimus? Iusto omnis id culpa molestias eaque suscipit incidunt. Atque perferendis exercitationem fugit eos enim quae deleniti.</p>
        </div>
    </div>
    <div class="col-4">
        <img src="/assets/img/noimage.png" class="img-thubnail">
    </div>




{{>footer}}
